<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%=room.roomName%></title>
  <link rel="stylesheet" href="/css/room.css">
</head>
<script>

const username = "<%= user.username %>";
const roomName = "<%= user.roomName %>";

</script>
<body>
  <div id="container">
    <header>
      <h1>
        <%=room.roomName%>
      </h1>
    </header>
    <main>
      <div class="messages-container">
        <%
        room.messages.forEach(m => {
          %>
            <div class="message">
              <div class="message-content">
              <span class="message-sender">
                <%= m.sender %>:&nbsp;
              </span>
                <%= m.message %>
              </div>
            </div>
          <%
        })
        %>
      </div>
      <div class="connected-users-container">
        <div class="users-heading">
          <h3>Users:</h3>
        </div>
        <%
          Object.keys(room.connectedUsers).forEach(user => {
        %>
            <div class="user">
              <%= user %>
            </div>
        <%
          })
        %>
      </div>
    </main>
    <div class="send-message">
      <form id="send-message-form">
        <input type="text" name="message" />
        <button type="submit">Send</button>
      </form>
    </div>
  </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/room.js"></script>
</body>
</html>
